{% extends "base.html" %}

{% block title %}
    GG2 Contracts - Profile
{% endblock %}

{% block content %}
<h1>Update your profile</h1>
<p>
    Update your profile using your user key. <br/>
    You can find your contracts user key in your <code>gg2.ini</code> .<br/>
    If you reached this page through the plugin menu in game, your user key is already filled in!
</p>
<p>
    If you don't have one, sign up by playing on a server that runs the contracts plugin!
</p>
<h2 id="message"></h2>
<form id="myform">
    Login key: <input id="userkey" name="key" placeholder="123456789012-1234-1234-1234-12345678" /> (find it in your gg2.ini after playing a game with contracts) <br/>
    Username: <input name="username" placeholder="username" /> (this will not be displayed in-game and will help us find you to give out your rewards when the contest ends)<br/>
    Discord name: <input name="discord_username" placeholder="leave empty = do not update" /> (this will allow you to interact more with Ms. Paula in the gg2 discord server. Leave empty)<br/>
    Mainclass: <select name="main_class">
        <option value=0>RUNNER</option>
        <option value=8>FIREBUG</option>
        <option value=1>ROCKETMAN</option>
        <option value=6>OVERWEIGHT</option>
        <option value=3>DETONATOR</option>
        <option value=4>HEALER</option>
        <option value=5>CONSTRUCTOR</option>
        <option value=2>RIFLEMAN</option>
        <option value=7>INFILTRATOR</option>
        <option value=9>QUOTE</option>
    </select> (you will get more contracts for your chosen class) <br/>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block extra_js %}
<script>
    window.addEventListener("load", function () {
        const givenKey = window.location.hash.substring(1);
        document.getElementById("userkey").setAttribute("value", givenKey);
        document.getElementById("myform").addEventListener("submit", function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);

            const formKey = formData.get("key");
            if (formKey.length < 16) {
                document.getElementById("message").textContent = "Invalid key"
                return;
            }
            if (formData.get("username").length < 2) {
                document.getElementById("message").textContent = "Name too short"
                return;
            }
            
            document.getElementById("message").textContent = "Sending..."
            fetch(`/api/users/${formKey}`, {
                method: "put",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "username": formData.get("username"),
                    "discord_username": formData.get("discord_username"),
                    "main_class": formData.get("main_class"),
                })
            })
            .then( async (response) => {
                return {
                    "status": response.status,
                    "content": await response.text(),
                }
            }).then( (response) => {
                let respText;
                if (response.status < 300) {
                    respText = "Success!"
                } else if (response.status < 500) {
                    const respJson = JSON.parse(response.content);
                    respText = `Failure (${response.status}) ${respJson["detail"]}`
                } else {
                    respText = `Failure (${response.status}) ${response.content}`
                }
                document.getElementById("message").textContent = respText
            });
        });
    })
</script>
{% endblock %}
