{% extends "base.html" %}

{% block title %}
    GG2 Contracts - Users
{% endblock %}

{% block content %}
<h1>All users!</h1>
<div style="display: flex;">
    <div>
        Users
        <input type="text" id="usernameFilter" onkeyup="filterUsersByName()" placeholder="Search for names..">
        <table id="usersTable">
            <thead>
                <th>Name</th>
                <th>Class</th>
                <th>Points</th>
                <th>Contracts</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td class="usermainclass">{{ user.main_class }}</td>
                    <td>{{ user.points }}</td>
                    <td><button onclick="showContracts(this)" data-user-id="{{user.identifier}}">Contracts</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <span style="width: 4em;"></span>
    <div>
        Contracts
        <table>
            <thead>
                <th>Type</th>
                <th>Class</th>
                <th>Progress</th>
                <th>Created</th>
                <th>Updated</th>
            </thead>
            <tbody id="contractsBody">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const typeToName = {
        1: "KILLS",
        2: "KILLS_ON_CLASS",
        3: "KILLS_AS_CLASS",
        4: "HEALING",
        5: "UBERS",
        6: "ROUNDS_PLAYED",
        7: "ROUNDS_WON",
        8: "DOMINATIONS",
        9: "CAPTURES",
        10: "STABS",
        11: "BURN_DURATION",
        12: "AUTOGUN_KILLS",
        13: "UBERED_KILLS",
        14: "DAMAGE_TAKEN",
        15: "KILL_STREAK",
        16: "HEAL_STREAK",
        17: "AUTOGUN_STREAK",
        18: "FLARE_KILLS",
        19: "GUN_KILLS",
        20: "UBERED_STREAK",
        21: "FLYING_STICKY",
        22: "BUBBLE_SHIELD",
        23: "NOSCOPE_KILLS",
    }
    const classToName = {
        0: "RUNNER",
        8: "FIREBUG",
        1: "ROCKETMAN",
        6: "OVERWEIGHT",
        3: "DETONATOR",
        4: "HEALER",
        5: "CONSTRUCTOR",
        2: "RIFLEMAN",
        7: "INFILTRATOR",
        9: "QUOTE",
    }
    const contractToLine = (contract) => {
        const tr = document.createElement("tr");

        const tdcontract_type = document.createElement("td");
        tdcontract_type.textContent = typeToName[contract.contract_type];
        tr.appendChild(tdcontract_type);

        const tdgame_class = document.createElement("td");
        tdgame_class.textContent = classToName[contract.game_class];
        tr.appendChild(tdgame_class);

        const tdvalue = document.createElement("td");
        if (contract.completed) {
            tdvalue.textContent = "✅Done"
        } else {
            const valueMeter = document.createElement("meter");
            valueMeter.setAttribute("value", contract.value);
            valueMeter.setAttribute("min", 0);
            valueMeter.setAttribute("max", contract.target_value);
            tdvalue.textContent = `${contract.value}/${contract.target_value} `
            tdvalue.appendChild(valueMeter);
        }
        tr.appendChild(tdvalue);

        const tdcreated_at = document.createElement("td");
        tdcreated_at.textContent = new Date(contract.created_at).toLocaleString();
        tr.appendChild(tdcreated_at);

        const tdlast_modified = document.createElement("td");
        tdlast_modified.textContent = new Date(contract.last_modified).toLocaleString();
        tr.appendChild(tdlast_modified);
        return tr;
    }
    const showContracts = (target) => {
        const userId = target.getAttribute("data-user-id");
        fetch(`/api/users/${userId}/contracts`, {
            method: "get",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(async (response) => {
            const resp = await response.json();

            const contractsBody = document.getElementById("contractsBody");
            while (contractsBody.firstChild) {
                contractsBody.firstChild.remove();
            }

            resp.forEach(contract => {
                contractsBody.appendChild(contractToLine(contract));
            });
        })
    }
    const filterUsersByName = () => {
        const filterValue = document.getElementById("usernameFilter").value.toUpperCase();
        const rows = document.getElementById("usersTable").getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (let i = 0; i < rows.length; i++) {
            const td = rows[i].getElementsByTagName("td")[0];
            if (td) {
                const username = td.textContent;
                if (username.toUpperCase().indexOf(filterValue) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    };
    window.addEventListener("load", () => {
        const collection = document.getElementsByClassName("usermainclass");
        for (let i = 0; i < collection.length; i++) {
            collection[i].textContent = classToName[collection[i].textContent];
        }
    })
</script>
{% endblock %}